<h1>Editing newsarticle</h1>

<% form_for(@newsarticle) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </p>
  <p>
    <%= f.label :pubdate %><br />
    <%= f.datetime_select :pubdate %>
  </p>
  <p>
    <%= f.label :gnews_url %><br />
    <%= f.text_area :gnews_url %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :moderation %><br />
    <%= f.text_field :moderation %>
  </p>
  <p>
    <%= f.label :rejection %><br />
    <%= f.text_area :rejection %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @newsarticle %> |
<%= link_to 'Back', newsarticles_path %>