<p>
  <b>Name:</b>
  <%=h @candidate.name %>
</p>

<p>
  <b>Ward:</b>
  <%=h @candidate.ward %>
</p>

<p>
  <b>Website:</b>
  <%=h @candidate.website %>
</p>

<p>
  <b>Twitter:</b>
  <%=h @candidate.twitter %>
</p>

<p>
  <b>Youtube:</b>
  <%=h @candidate.youtube %>
</p>

<p>
  <b>Email:</b>
  <%=h @candidate.email %>
</p>

<p>
  <b>Facebook:</b>
  <%=h @candidate.facebook %>
</p>

<p>
  <b>Rss:</b>
  <%=h @candidate.rss %>
</p>

<p>
  <b>Office:</b>
  <%=h @candidate.office %>
</p>

<p>
  <b>Phone:</b>
  <%=h @candidate.phone %>
</p>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>