<h1>New mention</h1>

<% form_for(@mention) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :candidate_id %><br />
    <%= f.text_field :candidate_id %>
  </p>
  <p>
    <%= f.label :news_article_id %><br />
    <%= f.text_field :news_article_id %>
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', mentions_path %>